.title {
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(238, 15, 15);
}
.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 18rem;
    width: 22rem;
    background: #101010;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .4);
    margin: 3rem;   
}
.sau2{
    padding: 30px;
    background: #218030
}

.contact2{
    padding-top: 20px;
    background: #218030;
    padding-bottom: 0;
}

.content2 {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-green {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-green:hover {
    background-color: red;
  }
  